{% extends 'base.html' %} {% block content %}
<main class="main-content">
  <div class="fullwidth-block">
    <div class="container">
      <div class="row">
        <div class="content col-md-8">
          <h2 class="section-title">Upcoming sermons</h2>
          <ul class="seremon-list large">
            {% for sermon in object_list %}
            <li>
              <img src="images/thumb-2-120.jpg" alt="" />
              <div class="seremon-detail">
                <h3 class="seremon-title">
                  <a href="#">{{ sermon.title }}</a>
                </h3>
                <div class="seremon-meta">
                  <div class="pastor">
                    <i class="fa fa-user"></i> {{ sermon.user }}
                  </div>
                  <div class="date">
                    <i class="fa fa-calendar"></i> {{ sermon.date }}
                  </div>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Veniam dignissimos corporis quidem at nobis impedit
                  perspiciatis, accusantium qui natus amet sapiente voluptate
                  doloribus laboriosam officia deserunt possimus cumque
                  inventore. Ipsum.
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>

          <h2 class="section-title">Latest seremons</h2>
          <ul class="seremon-list">
            {% for sermon in object_list %}
            <li>
              <img src="images/small-thumb-3.jpg" alt="" />
              <div class="seremon-detail">
                <h3 class="seremon-title">
                  <a href="#">{{ sermon.title }}</a>
                </h3>
                <div class="seremon-meta">
                  <div class="pastor">
                    <i class="fa fa-user"></i> {{ sermon.user }}
                  </div>
                  <div class="date">
                    <i class="fa fa-music"></i>
                    {% if sermon.mp3 %}
                    <a href="{{ sermon.mp3.url }}" download>{{ sermon.mp3 }}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar col-md-3 col-md-offset-1">
          <div class="widget">
            <h3 class="widget-title">Donations</h3>
            <p>
              Distinctio unde consequuntur delectus, repudiandae, impedit atque
              earum adipisci, explicabo perferendis.
            </p>
            <a href="#" class="button">Make a donation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- .main-content -->
{% endblock content %}
